* {
    box-sizing: border-box;
}
#wrapper {
    border:2px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width:50%;
    margin:0 auto;
    background: #fda600;
}
#wrapper .portion {
    margin:0;
    padding:0;
    height: 100px;
    background: #fda600;
}
#wrapper .portion.obstacle {
    background: url('../img/obstacle.png') no-repeat center, #fda600;
    background-size: contain;
}
#wrapper .portion.rover {
    background: url('../img/rover.png') no-repeat center, #fda600;
    background-size: contain;
}
#wrapper .portion.rover.S {
    transform: rotate(90deg);
}
#wrapper .portion.rover.N {
    transform: rotate(270deg);
}
#wrapper .portion.rover.E {
    transform: rotate(0deg);
}
#wrapper .portion.rover.W {
    transform: scaleX(-1);
}
#wrapper .portion.selected {
    background:  url('../img/rover.png') no-repeat center,  #fda999;
    background-size: contain;
}

.selected-rover{
    margin-top:20px;
    font-size: 30px;

}
.selected-rover span {
    font-weight: bold;
    display: block;
}
.instructions {
    position: absolute;
    top:40px;
    left:10px;
}